<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
      package="com.openims"
      android:versionCode="1"
      android:versionName="1.0">
    <instrumentation android:label="@string/testApp" android:targetPackage="com.openims" android:name="android.test.InstrumentationTestRunner"></instrumentation>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"></uses-permission>


    <application android:icon="@drawable/icon" android:label="@string/app_name" android:name=".model.MyApplication">

        <activity android:name="com.openims.demo.MainActivity" android:label="@string/app_name">
        		  <intent-filter>
        		  	<action android:name="android.intent.action.MAIN" /> 
        		  	<category android:name="android.intent.category.LAUNCHER" />
        		  </intent-filter>
    	</activity>
    	<activity android:name="com.openims.view.onlineHelper.ChatActivity"
        		  android:label="@string/onlineHelper"
        		  android:launchMode="singleInstance"
        		  android:screenOrientation="behind">
    	</activity>
    	<activity android:name="com.openims.view.pubsub.MainActivity"
        		  android:label="@string/topic"
        		  android:launchMode="singleInstance">
    	</activity>
    	<activity android:name="com.openims.view.setting.Setting"
                  android:label="@string/app_name">
        </activity>
        <activity android:name="com.openims.view.pcAssistant.AssistantActivity" 
    			  android:label="@string/pcAssistant">
        		  <intent-filter>
        		  	<action android:name="android.intent.action.MAIN" /> 
        		  	<category android:name="android.intent.category.LAUNCHER" />
        		  </intent-filter>
    	</activity>
    	<activity android:name=".view.PushActivity"
				  android:label="@string/app_name">
				  <intent-filter>
				  	<action android:name="android.intent.action.MAIN"></action>
				  	<category android:name="android.intent.category.LAUNCHER" />
				  </intent-filter>
		</activity>
		<activity android:name=".view.chat.MultiChatActivity" 
				  android:launchMode="singleInstance">
		</activity>
		
        
        <!-- the core service -->
        <service android:enabled="true"
			android:name="com.openims.service.IMService"
			android:label="IMService">
			<intent-filter>
				<action android:name="com.openims.service.IMService" />
			</intent-filter>
			<intent-filter>
				<action android:name="com.openims.service.IMService.STATUS" />
			</intent-filter>
			<intent-filter>
				<action android:name="com.openims.service.IMService.MESSAGE" />
			</intent-filter>
			<intent-filter>
				<action android:name="com.openims.service.IMService.REGISTER" />
			</intent-filter>
			<intent-filter>
				<action android:name="com.openims.service.IMService.PUBSUB" />
			</intent-filter>			
		</service>
		
		<!-- For Push Client -->
		<receiver android:name="com.openims.view.PushServiceReceiver">    	
		    <intent-filter>
		        <action android:name="com.openims.pushService.RECEIVE" />
		        <category android:name="com.openims.demo" />
		    </intent-filter>
		    <intent-filter>
		        <action android:name="com.openims.pushService.REGISTRATION" />
		        <category android:name="com.openims.demo" />
		    </intent-filter>
		    <intent-filter>
		        <action android:name="com.openims.CONNECT_STATUS" />
		        <category android:name="com.openims.demo" />
		    </intent-filter>
		</receiver>
		
		<!-- start service -->
		<receiver android:name="com.openims.view.setting.SystemReceiver">
        	<intent-filter>
        		<action android:name="android.intent.action.BOOT_COMPLETED"/>
        	</intent-filter>
        </receiver>
        
        <!-- below is for test -->
		<activity android:name="com.openims.test.TestActivity"
        		  android:label="测试水蜜桃">
        		  <intent-filter>
        		  	<action android:name="android.intent.action.MAIN" /> 
        		  	<category android:name="android.intent.category.LAUNCHER" />
        		  </intent-filter>
    	</activity>  
    	<activity android:name=".demo.NewQA">
    			<intent-filter>
        		  	<action android:name="android.intent.action.MAIN" /> 
        		  	<category android:name="android.intent.category.LAUNCHER" />
        		  </intent-filter>
		</activity>  	
    	<!-- end test -->    	
		
		<uses-library android:name="android.test.runner"></uses-library>
		<activity android:name=".view.chat.widget.IMActivity"></activity>
		

    </application>
    
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
	<uses-permission android:name="android.permission.INTERNET" />
	<uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
	<uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
	<uses-permission android:name="android.permission.VIBRATE" />
	<uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED">
	</uses-permission>
	<supports-screens android:largeScreens="true"
		android:normalScreens="true" 
		android:smallScreens="true"
		android:anyDensity="true" />		

	<uses-sdk android:maxSdkVersion="11" android:targetSdkVersion="7" android:minSdkVersion="7"></uses-sdk>	

</manifest>